.App {
    text-align: center;
    padding: 30px 50px;
    height: 100%;
    display: flex;
    flex-direction: column;

    .App-body-wrapper {
        margin-top: 15px;
        flex: 1;
    }

    .App-body {
        height: 100%;
    }

    @media (max-width: 1024px) {
        padding: 20px;
    }

    @media (max-width: 600px) {
        padding: 5px;
    }
}
