@import "../assets/theme.scss";

.MainContent {
    background-color: white;
    padding: 10px;

    .MainContent-wrapper {
        border: $app-border-width solid $app-border-color;
        height: 100%;

        .content {
            margin: 0 auto;
            height: 100%;

            .champions {
                margin-top: 1rem
            }

            .season-winners {
                margin-top: 2rem
            }
        }
    }
}
