@import '../assets/theme.scss';
@import '../assets/utility.scss';

$gradient-dispersion: 2%;

.DataGrid-wrapper {
    padding: .75rem;

    .loader {
        margin-top: 0.5rem;
        width: 100%;
    }
}

.DataGrid {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;

    th,
    td {
        padding: .75rem;
        vertical-align: top;
        border-top: 1px solid $table-border-color;
        font-size: 1rem;
    }

    thead {
        tr {
            @include linear-gradient-to-bottom($table-header-bg-color, $gradient-dispersion);
        }

        th {
            vertical-align: bottom;
            border-top: 1px solid $table-border-color;
            border-bottom: 2px solid $table-border-color;
            padding: .75rem;
            color: white;
        }
    }

    tbody {
        th {
            color: $text-color;
        }

        tr {
            cursor: pointer;
            background-color: $table-even-row-bg-color;

            &:nth-child(odd) {
                background-color: $table-odd-row-bg-color;
            }

            &:hover {
                background-color: $table-hover-row-bg-color;
            }

            &.highlighted {
                background-color: $table-highlighted-row-bg-color;
            }

            &.selected {
                background-color: $table-selected-row-bg-color;
            }
        }
    }

    a {
        padding: .125rem 1.5rem;
        color: $link-text-color;

        &:visited {
            color: $link-visited-text-color;
        }

        &:hover {
            color: $link-hovered-text-color;
        }
    }
}
