@import "../assets/theme.scss";

.Header {
    padding: 10px;
    background-color: white;

    .Header-content-wrapper {
        border: $app-border-width solid $app-border-color;
        display: flex;
        justify-content: space-between;
        height: 180px;
    }

    .Header-title {
        flex-grow: 1;
        text-transform: uppercase;
        font-family: $font-family;
        font-size: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .Header-title-decorator {
            display: block;
            width: auto;
            flex-basis: auto;
            position: relative;

            &:after {
                content: "";
                position: absolute;
                bottom: -0.05em;
                left: 0;
                height: 0.2em;
                width: 100%;
                background-color: black;
                transform: skew(45deg);
            }
        }
    }

    @media (max-width: 1200px) {
        .Header-title {
            font-size: 50px;
        }
    }

    @media (max-width: 1024px) {
        .Header-content-wrapper {
            height: auto;
            flex-direction: column;
        }

        .Header-title {
            font-size: 40px;
        }
    }

    @media (max-width: 600px) {
        .Header-title {
            font-size: 20px;
        }
    }
}
