@import '../assets/theme.scss';

.ListView-wrapper {
    padding: .75rem;

    .loader {
        margin-top: 0.5rem;
        width: 100%;
    }
}

.ListView {
    width: 100%;
    max-width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;

    .ListView-item {
        border: 1px solid $app-border-color;
        margin: 2px;
        font-size: 22px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        cursor: pointer;
        background-color: $table-even-row-bg-color;
        padding: 1rem;

        &:nth-child(odd) {
            background-color: $table-odd-row-bg-color;
        }

        &:hover {
            background-color: $table-hover-row-bg-color;
        }

        &.highlighted {
            background-color: $table-highlighted-row-bg-color;
        }

        &.selected {
            background-color: $table-selected-row-bg-color;
        }

        .entry {
            margin: 0;
            display: flex;
        }

        .name {
            flex-basis: auto;
        }

        .value {
            font-weight: 600;
            flex-basis: auto;
            margin: 0 0 0 10px;
        }

        a {
            color: $link-text-color;

            &:visited {
                color: $link-visited-text-color;
            }

            &:hover {
                color: $link-hovered-text-color;
            }
        }
    }
}
