@import "../assets/theme.scss";

.Loader {
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;

    & > .rect {
        background-color: $loader-color;
        height: 100%;
        width: 6px;
        display: inline-block;

        @keyframes sk-stretchdelay {
            0%, 40%, 100% {
                transform: scaleY(0.4);
            }

            20% {
               transform: scaleY(1.0);
            }
        }

        animation: sk-stretchdelay 1.2s infinite ease-in-out;
    }

    .rect + .rect {
        margin-left: 3px;
    }

    .rect2 {
        animation-delay: -1.1s;
    }

    .rect3 {
        animation-delay: -1.0s;
    }

    .rect4 {
        animation-delay: -0.9s;
    }

    .rect5 {
        animation-delay: -0.8s;
    }
}
