.Toaster {
    position: fixed;
    bottom: 20px;
    right: 10px;
    width: 20vw;
    background-color: lighten(red, 30%);
    padding: 20px;
    font-weight: 600;
    opacity: 0.9;
    text-align: left;

    &.Toaster-enter {
        opacity: 0;
        transform: translateY(150%);
    }

    &.Toaster-enter-active {
        opacity: 0.9;
        transform: translateY(0);
        transition: all 500ms ease-out;
    }

    &.Toaster-exit {
        opacity: 0.9;
    }

    &.Toaster-exit-active {
        opacity: 0;
        transition: all 500ms ease-out;
    }
}
