$body-bg-color: #d5d6d7;

$app-bg-color: white;
$app-border-width: 5px;
$app-border-color: black;

$font-family: sans-serif;
$text-color: #222;

$link-text-color: #99979c;
$link-hovered-text-color: #007bff;
$link-visited-text-color: darken($link-hovered-text-color, 30%);

$loader-color: $body-bg-color;

// Tables
$table-header-bg-color: #aabbcc;
$table-selected-row-bg-color: #99fa99;
$table-highlighted-row-bg-color: #fefcea;
$table-even-row-bg-color: white;
$table-odd-row-bg-color: #eee;
$table-hover-row-bg-color: #ddd;
$table-border-color: #e4e4e4;
