@import "./assets/theme.scss";

*, :after, :before {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: $font-family;
  color: $text-color;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $body-bg-color;
}
